In [1]:
import pandas as pd
credits = pd.read_csv("Desktop/moviedataset/tmdb_5000_credits.csv") 
movies = pd.read_csv("Desktop/moviedataset/tmdb_5000_movies.csv")

In [2]:
movie=movies.merge(credits, on="title")

In [3]:
movie.shape

(4809, 23)

In [4]:
movie.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [5]:
movie=movie[['title','genres','cast','crew','overview']]

In [6]:
movie

,title,genres,cast,crew,overview
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","Captain Barbossa, long believed to be dead, ha..."
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",A cryptic message from Bond’s past sends him o...
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Following the death of District Attorney Harve...
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...
4804,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",El Mariachi just wants to play his guitar and ...
4805,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...","[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",A newlywed couple's honeymoon is upended by th...
4806,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,Shanghai Calling,[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",When ambitious New York attorney Sam is sent t...
4808,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",Ever since the second grade when he first saw ...

In [7]:
movie.duplicated().sum()

0

In [8]:
import ast
movie['genres'] = movie['genres'].apply(lambda x: ast.literal_eval(x))

In [9]:
movie.genres[0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [10]:
def extract_genres(genres_list):
  genre_names = []
  for genre in genres_list:
    genre_names.append(genre['name'])
  return genre_names

movie['genres'] = movie['genres'].apply(extract_genres)
movie.head(1)

,title,genres,cast,crew,overview
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."

In [11]:
movie['cast'] = movie['cast'].apply(lambda x: ast.literal_eval(x))

In [12]:
def extract_cast(cast_list):
  cast_names = []
  for actor in cast_list:
    cast_names.append(actor['name'])
  return cast_names

movie['cast'] = movie['cast'].apply(extract_cast)
movie.head(1)

,title,genres,cast,crew,overview
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."

In [13]:
movie['crew'] = movie['crew'].apply(lambda x: ast.literal_eval(x))

In [14]:
def extract_crew(crew_list):
  crew_names = []
  for actor in crew_list:
    crew_names.append(actor['name'])
  return crew_names

movie['crew'] = movie['crew'].apply(extract_crew)
movie.head(1)

,title,genres,cast,crew,overview
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B...","In the 22nd century, a paraplegic Marine is di..."

In [15]:
def shorten_cast(cast_list):
  if len(cast_list) > 5:
    return cast_list[:5]
  else:
    return cast_list

movie['cast'] = movie['cast'].apply(shorten_cast)

In [16]:
def shorten_crew(crew_list):
  if len(crew_list) > 5:
    return crew_list[:5]
  else:
    return crew_list

movie['crew'] = movie['crew'].apply(shorten_crew)

In [17]:
movie['metadata'] = movie['genres'] + movie['cast'] + movie['crew']

In [18]:
movie

,title,genres,cast,crew,overview,metadata
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B...","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction, ..."
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action, Johnny Depp, Orla..."
2,Spectre,"[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Thomas Newman, Sam Mendes, Anna Pinnock, John...",A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime, Daniel Craig, Chris..."
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman, A...","[Hans Zimmer, Charles Roven, Christopher Nolan...",Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller, Christian Bal..."
4,John Carter,"[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Andrew Stanton, John Lasseter...","John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction, Taylor Ki..."
...,...,...,...,...,...,...
4804,El Mariachi,"[Action, Crime, Thriller]","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...","[Robert Rodriguez, Robert Rodriguez, Robert Ro...",El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller, Carlos Gallardo, Jai..."
4805,Newlyweds,"[Comedy, Romance]","[Edward Burns, Kerry Bishé, Marsha Dietlein, C...","[Edward Burns, Edward Burns, Edward Burns, Wil...",A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance, Edward Burns, Kerry Bishé, M..."
4806,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...","[Carla Hetland, Harvey Kahn, Adam Sliwinski, M...","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie, Eric Mabius..."
4807,Shanghai Calling,[],"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...","[Daniel Hsia, Daniel Hsia]",When ambitious New York attorney Sam is sent t...,"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan..."
4808,My Date with Drew,[Documentary],"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Clark Peterson, Andrew Reimer, Brian Herzling...",Ever since the second grade when he first saw ...,"[Documentary, Drew Barrymore, Brian Herzlinger..."

In [19]:
moviee=movie[['title','genres','overview','metadata']]

In [20]:
moviee

,title,genres,overview,metadata
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction, ..."
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action, Johnny Depp, Orla..."
2,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime, Daniel Craig, Chris..."
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller, Christian Bal..."
4,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction, Taylor Ki..."
...,...,...,...,...
4804,El Mariachi,"[Action, Crime, Thriller]",El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller, Carlos Gallardo, Jai..."
4805,Newlyweds,"[Comedy, Romance]",A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance, Edward Burns, Kerry Bishé, M..."
4806,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie, Eric Mabius..."
4807,Shanghai Calling,[],When ambitious New York attorney Sam is sent t...,"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan..."
4808,My Date with Drew,[Documentary],Ever since the second grade when he first saw ...,"[Documentary, Drew Barrymore, Brian Herzlinger..."

In [21]:
moviee.metadata[0]

['Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez',
 'Stephen E. Rivkin',
 'Rick Carter',
 'Christopher Boyes',
 'Christopher Boyes',
 'Mali Finn']

In [22]:
moviee['metadata'] = moviee['metadata'].apply(lambda x: ' '.join(x))

C:\Users\pragy\AppData\Local\Temp\ipykernel_6476\2296624711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviee['metadata'] = moviee['metadata'].apply(lambda x: ' '.join(x))

In [23]:
moviee['metadata']=moviee['metadata'].apply(lambda x:x.lower())

C:\Users\pragy\AppData\Local\Temp\ipykernel_6476\3473802270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviee['metadata']=moviee['metadata'].apply(lambda x:x.lower())

In [24]:
pd.set_option('display.max_colwidth', 100)

In [25]:
moviee.iloc[0]

title                                                                                                    Avatar
genres                                                            [Action, Adventure, Fantasy, Science Fiction]
overview    In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, ...
metadata    action adventure fantasy science fiction sam worthington zoe saldana sigourney weaver stephen la...
Name: 0, dtype: object

In [26]:
moviee

,title,genres,overview,metadata
0,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, ...",action adventure fantasy science fiction sam worthington zoe saldana sigourney weaver stephen la...
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of t...",adventure fantasy action johnny depp orlando bloom keira knightley stellan skarsgård chow yun-fa...
2,Spectre,"[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. Whil...,action adventure crime daniel craig christoph waltz léa seydoux ralph fiennes monica bellucci th...
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's c...",action crime drama thriller christian bale michael caine gary oldman anne hathaway tom hardy han...
4,John Carter,"[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military captain who's inexplicably transported to the myster...",action adventure science fiction taylor kitsch lynn collins samantha morton willem dafoe thomas ...
...,...,...,...,...
4804,El Mariachi,"[Action, Crime, Thriller]","El Mariachi just wants to play his guitar and carry on the family tradition. Unfortunately, the ...",action crime thriller carlos gallardo jaime de hoyos peter marquardt reinol martinez ramiro gome...
4805,Newlyweds,"[Comedy, Romance]",A newlywed couple's honeymoon is upended by the arrivals of their respective sisters.,comedy romance edward burns kerry bishé marsha dietlein caitlin fitzgerald daniella pineda edwar...
4806,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]","""Signed, Sealed, Delivered"" introduces a dedicated quartet of civil servants in the Dead Letter ...",comedy drama romance tv movie eric mabius kristin booth crystal lowe geoff gustafson benjamin ho...
4807,Shanghai Calling,[],"When ambitious New York attorney Sam is sent to Shanghai on assignment, he immediately stumbles ...",daniel henney eliza coupe bill paxton alan ruck zhu shimao daniel hsia daniel hsia
4808,My Date with Drew,[Documentary],"Ever since the second grade when he first saw her in E.T. The Extraterrestrial, Brian Herzlinger...",documentary drew barrymore brian herzlinger corey feldman eric roberts griffin dunne clark peter...

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=21,stop_words='english')

In [28]:
moviee['genres'] = moviee['genres'].apply(lambda x: ', '.join(x))

C:\Users\pragy\AppData\Local\Temp\ipykernel_6476\1772969133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moviee['genres'] = moviee['genres'].apply(lambda x: ', '.join(x))

In [29]:
vectors=cv.fit_transform(moviee['genres']).toarray()
vectors

array([[1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [30]:
vectors.shape  #as 21 genres

(4809, 21)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity  
import numpy as np

In [32]:
similarity = cosine_similarity(vectors)

In [33]:
similarity

array([[1.        , 0.77459667, 0.51639778, ..., 0.        , 0.        ,
        0.        ],
       [0.77459667, 1.        , 0.66666667, ..., 0.        , 0.        ,
        0.        ],
       [0.51639778, 0.66666667, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [34]:
def recommend(movie):
  index = moviee[moviee['title'] == movie].index[0]
  distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
  for i in distance[1:6]:
    similarity_score = i[1]
    recommended_movie = moviee.iloc[i[0]].title
    print(f"- {recommended_movie} (Similarity Score: {similarity_score:.2f})")

In [35]:
recommend('Avatar')

- Superman Returns (Similarity Score: 1.00)
- Man of Steel (Similarity Score: 1.00)
- X-Men: Days of Future Past (Similarity Score: 1.00)
- Jupiter Ascending (Similarity Score: 1.00)
- The Wolverine (Similarity Score: 1.00)

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=50, stop_words='english')

In [37]:
vector=vectorizer.fit_transform(moviee['genres']).toarray()
vector

array([[0.35832775, 0.41415053, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.48058568, 0.55545464, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.51325274, 0.5932108 , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.66373979, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [38]:
vector.shape  #as 21 genres

(4809, 22)

In [39]:
similarityy = cosine_similarity(vector)

In [40]:
similarityy

array([[1.        , 0.74560639, 0.42959127, ..., 0.        , 0.        ,
        0.        ],
       [0.74560639, 1.        , 0.57616361, ..., 0.        , 0.        ,
        0.        ],
       [0.42959127, 0.57616361, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [41]:
def recommend(movie):
  index = moviee[moviee['title'] == movie].index[0]
  distance = sorted(list(enumerate(similarityy[index])), reverse=True, key=lambda x: x[1])
  for i in distance[1:6]:
    similarity_score = i[1]
    recommended_movie = moviee.iloc[i[0]].title
    print(f"- {recommended_movie} (Similarity Score: {similarity_score:.2f})")

In [42]:
recommend('The Avengers')

- Avengers: Age of Ultron (Similarity Score: 1.00)
- The Avengers (Similarity Score: 1.00)
- Captain America: Civil War (Similarity Score: 1.00)
- Iron Man 3 (Similarity Score: 1.00)
- Transformers: Revenge of the Fallen (Similarity Score: 1.00)

In [43]:
import pickle

In [44]:
moviee['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [45]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [46]:
pickle.dump(moviee.to_dict(),open('movie_dict.pkl','wb'))